html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    background: rgb(245, 245, 245);
}

/* navbar */
#navigation * {
    color: rgb(245, 245, 245);
    height: 3rem;
    font-size: 1.5rem;
    
  }
.navbar {
    background-color: #b83434;
    margin: 0;
    padding: 0;
    
}
@media (min-width: 0px) {
    .navbar-brand
        {
            padding-left: 10px;
            position: absolute;
        }
    }

.navbar-nav.ml-auto{
    text-align: center;
    font-size: 4.5rem;
}

#collapse_Navbar {
    background-color: #b83434;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar-nav > li > a:hover{
    background-color:#924444;
}

.navbar-nav > li > a:focus{
    background-color:#924444;
}

.navbar-nav > li > a:active{
    background-color:#924444;
}

/* introduction */
#header-row { 
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}

#about-me { 
    font-size: 2.5em;
    font-weight: bold;
    text-align: left;
}

#about-me-body {
    text-align: left;
}

#facts { 
    font-size: 1.75em;
    font-weight: bold;
    text-align: left;
}

#facts-body {
    text-align: left;
}


#about-me-col {
    padding: 0;
    text-align: center;
}

#aboutme-photo {
    width: 85%;
    height: 85%;
    max-width: 15em;
    max-height: 25em;
    margin: 0;
    padding: 0;
    border:2px solid #924444;
}

#resume-icon:hover {
    background-color: #924444;
}

/* footers */
#bottom-email-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-github-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-linkedin-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-instagram-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-facebook-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    border-top:1px solid #ddd;
 }
 
 #footer-flex {
     padding: 1em;
 }