@-ms-viewport{
    width: device-width;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    background: rgb(245, 245, 245);
}

/* navbar */
#navigation * {
    color: rgb(245, 245, 245);
    height: 3rem;
    font-size: 1.5rem;
    
  }
.navbar {
    background-color: #b83434;
    margin: 0;
    padding: 0;
    
}
@media (min-width: 0px) {
    .navbar-brand
        {
            padding-left: 10px;
            position: absolute;
        }
    }

.navbar-nav.ml-auto{
    text-align: center;
    font-size: 4.5rem;
}

#collapse_Navbar {
    background-color: #b83434;
    margin: 0;
    padding: 0;
    text-align: center;

}

.navbar-nav > li > a:hover{
    background-color:#924444;
}

.navbar-nav > li > a:focus{
    background-color:#924444;
}

.navbar-nav > li > a:active{
    background-color:#924444;
}

/* introduction */
.rounded-circle {
    position: relative;
    margin-top: 4em;
    width: 100%;
    height: 85%;
    max-width: 25em;
    border: 2px solid #924444;
}

#introduction {
    text-align: center;
}

#header-name { 
    font-size: 4em;
    font-weight: bold;
    margin: 0em;
    padding-top: .10em;
}

#swe-title {
    font-size: 2em;
    margin: .05em;
}

#oar-title {
    font-size: 2em;
    margin: .05em;
}

#hello-there {
    margin-top: 5em;
    margin-left: 6em;
    margin-right: 6em;
    font-size: 1.5em;
}

#resume-icon {
    background-color: #b83434;
    border: black;
    color: white;
    padding: .75em;
    font-size: .75em;
    cursor: pointer;
  }

#resume-icon:hover {
    background-color: #924444;
}

/* footers */
#bottom-email-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-github-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-linkedin-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-instagram-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-facebook-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

footer{
   position: relative;
   width: 100%;
   bottom: 0;
   margin-top: 3em;
   border-top:1px solid #ddd;
}

#footer-flex {
    padding: 1em;
}