html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    background: rgb(245, 245, 245);
}

/* navbar */
#navigation * {
    color: rgb(245, 245, 245);
    height: 3rem;
    font-size: 1.5rem;
    
  }
.navbar {
    background-color: #b83434;
    margin: 0;
    padding: 0;
    
}
@media (min-width: 0px) {
    .navbar-brand
        {
            padding-left: 10px;
            position: absolute;
        }
    }

.navbar-nav.ml-auto{
    text-align: center;
    font-size: 4.5rem;
}

#collapse_Navbar {
    background-color: #b83434;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar-nav > li > a:hover{
    background-color:#924444;
}

.navbar-nav > li > a:focus{
    background-color:#924444;
}

.navbar-nav > li > a:active{
    background-color:#924444;
}

/* introduction */
.row.no-gutters { 
    margin-top: 6em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

#fabflix-header { 
    color: #b83434;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

#ff-mock {
    background: rgb(245, 245, 245);
    width: 85%;
    height: 85%;
    max-width: 15em;
    max-height: 25em;
    margin: 0;
    padding: 0;
}

#search-header { 
    color: #b83434;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

#file-mock {
    background: rgb(245, 245, 245);
    width: 85%;
    height: 85%;
    max-width: 15em;
    max-height: 25em;
    margin: 0;
    padding: 0;
}

#website-header { 
    color: #b83434;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

#website-mock {
    background: rgb(245, 245, 245);
    width: 85%;
    height: 85%;
    max-width: 15em;
    max-height: 25em;
    margin: 0;
    padding: 0;
}

#on-the-house-header { 
    color: #b83434;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

#house-mock {
    background: rgb(245, 245, 245);
    width: 85%;
    height: 85%;
    max-width: 15em;
    max-height: 25em;
    margin: 0;
    padding: 0;
}

/* footers */
#bottom-email-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-github-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-linkedin-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-instagram-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

#bottom-facebook-icons {
    width: 2.5em;
    height: 2.5em;
    margin-left: .5em;
    margin-right: .5em;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 3em;
    border-top:1px solid #ddd;
 }
 
 #footer-flex {
     padding: 1em;
 }